:root {
  --bg-main: #22262c;
  --bg-card: #161a22;
  --bg-card-hover: #1c2130;

  --text-main: #e6e8ef;
  --text-muted: #9aa0b4;

  --accent: #4ade80;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
